html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/* HTML5 display-role reset */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,800&family=Long+Cang&display=swap');

body {
    /* background-image: url(https://images.unsplash.com/photo-1513941025786-ed97f054ebba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
    background-size: cover;
    background-position: center; */
    /* background-color: #FFDAB9; */
    background-image: linear-gradient(to left, #434343 0%, black 100%);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Long Cang', cursive;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Grandstander', cursive;
}

a {
    text-decoration: none;
    letter-spacing: .3rem;
}

.buttonS {
    width: 10rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: .3rem solid orangered;
    color: orangered;
    transition: 1s;
}

.buttonS:hover {
    padding: .6rem;
    border-radius: 1rem;
    border: .3rem solid orangered;
    background-color: orangered;
    color: black;
}

.buttonHome {
    width: 10rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: orangered;
    color: black;
}

.buttonAbout {
    width: 10rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: orangered;
    color: black;
}

.buttonProjects {
    width: 10rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: orangered;
    color: black;
}

.buttonContact {
    width: 10rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: orangered;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    width: 100%;
    height: 20%;
    padding: 1%;
    background-image: url(https://images.unsplash.com/photo-1530818718778-8b666f576020?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1383&q=80);
    background-size: cover;
    background-position: center;
    background-color: #C0C0C0;
    border: 1rem solid orangered;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2%;
    color: orangered;
}

div {
    padding: 4% 0;
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
}

#one {
   height: 20%;
   width: 50%;
}

img {
    border: 1rem solid orangered;
}

#two {
    height: 20%;
    width: 50%;
    padding-left: 2%;
    background-image: url(https://images.unsplash.com/photo-1572556839520-91b8d51593f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    border: 1rem solid orangered;
    display: flex;
    flex-flow: wrap column;
}

#three {
    height: 40%;
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: space-around;
}

h2 {
    font-size: 4rem;
    color: orangered;
    margin: 3% 0;
}

.buttonM {
    width: 10rem;
    height: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    border: .3rem solid orangered;
    color: orangered;
    transition: 1s;
    margin: 5% 0;
}

.buttonM:hover {
    width: 10rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: .3rem solid orangered;
    background-color: orangered;
    color: black;
}

p {
    font-size: 2rem;
    color: orangered;
    margin: 5% 0;
}

.placeholder {
    height: auto;
    width: 90%;
    max-width: 300px;
}

.responsive {
    height: auto;
    width: 100%;
    max-width: 400px;
}

footer {
    height: 40%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1597437088763-6e44f32ca964?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80);
    background-size: cover;
    background-position: center;
    background-color: #C0C0C0;
    border: 1rem solid orangered;
    display: flex;
    flex-flow: column;
    align-items: center;  
    justify-content: space-evenly;
}

footer nav {
    margin: 2% 0;
}

footer h2 {
    font-size: 7rem;
    margin: 1% 0;
}

.pic {
    vertical-align: top;
    text-align: center;
    padding: 4%;
    display: inline-block;
    margin: 0 2%;
}

.label {
    display: block;
    font-size: 3rem;
    color: orangered;
}

#social {
    display: inline-block;
}

.buttonL {
    width: 10rem;
    height: 2rem;
    padding: 3rem;
    border-radius: 1rem;
    border: .3rem solid orangered;
    color: orangered;
    transition: 1s;
    margin: 5% 0;
}

.buttonL:hover {
    width: 10rem;
    height: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    border: .3rem solid orangered;
    background-color: orangered;
    color: black;
}

#filler {
    height: 100vh;
}

/* Media Queries - 1024px */

@media (max-width: 1024px) {

    .buttonM {
        padding: .75rem;   
    }

    .buttonL {
        padding: 1rem;
    }

    footer h2 {
        font-size: 4rem;
    }
}

/* Media Queries - 800px */

@media (max-width: 800px) {

    header {
    height: 30vw;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1593000904207-7e529d2bb019?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
   }

   footer {
    height: 50vw;
    background-image: url(https://images.unsplash.com/photo-1593000904207-7e529d2bb019?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
   }

    #one {
        width: 45%;
    }

    #two {
        width: 45%;
    }

    #two h2 {
       text-align: center;
   }

    #two nav {
        text-align: center;
    }

    .buttonHome {
        padding: .2rem 1rem;
    }

    .buttonAbout {
        padding: .2rem 1rem;
    }

    .buttonProjects {
        padding: .2rem 1rem;
    }

    .buttonContact {
        padding: .2rem 1rem;
    }

    .buttonS {
        background-color: orangered;
        color: black;
        padding: .25rem
    }

    .buttonM {
        background-color: orangered;
        color: black;
    }

    .pic {
        width: 45vw;
    }

    .buttonL {
        background-color: orangered;
        color: black;
    }
}

/* Media Queries - 500px */

@media (max-width: 500px) {

    header {
        height: 90vw;
        width: 100vw;
        padding: 0;
    }

    header nav {
        height: 30vw;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    footer {
        height: 90vw;
    }

    footer h2 {
        font-size: 3rem;
    }

    #social {
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    div {
        padding: 10vw;
    }

    #two {
        width: 80vw;
    }

    .buttonS {
        height: 10vw;
        width: 40vw;
        border: .5rem solid black;
    }

    .buttonM {
        height: 10vw;
        width: 40vw;
        padding: .25rem;
        border: .5rem solid black;
    }

    .buttonL {
        height: 5vw;
        width: 40vw;
        padding: .75rem 1rem;
        border: .5rem solid black;
    }

    .buttonHome {
        height: 10vw;
        width: 35vw;
        border: .5rem solid black;
    }

    .buttonAbout {
        height: 10vw;
        width: 35vw;
        border: .5rem solid black;
    }

    .buttonProjects {
        height: 10vw;
        width: 35vw;
        border: .5rem solid black;
    }

    .buttonContact {
        height: 10vw;
        width: 35vw;
        border: .5rem solid black;
    }

    #container {
        display: block;
    }

    #one {
        width: 90%;
        margin: 0 auto;
    }

    #three {
        padding: 5% 0;
    }

    .pic {
        margin: 0;
    }
}

/* Media Queries - 360px */

@media (max-width: 360px) {
   
    h1 {
        margin: 0;
    }
}

/* Media Queries - 280px */

@media (max-width: 280px) {
    
    h1 {
        font-size: 10vw;
    }

    header nav {
        font-size: 3.5vw;
    }

    h2 {
        font-size: 10vw;
    }

    .buttonM {
        font-size: 3.5vw;
    }

    .buttonL {
        font-size: 3.5vw;
    }

    footer h2 {
        font-size: 8vw;
    }

    .label {
        font-size: 6vw
    }
}