html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/* HTML5 display-role reset */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

* {
    box-sizing: border-box;
    border: 5px solid grey;
}

html {
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,800&family=Long+Cang&display=swap');

body {
    background-image: url(https://images.unsplash.com/photo-1598364804124-48256e5e1ad7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80);
    background-size: cover;
    background-position: center;
    background-color: #FFDAB9;
    height: 100vh;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Long Cang', cursive;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Grandstander', cursive;
}

a {
    text-decoration: none;
    letter-spacing: 3px;
}

section {
    padding: 4% 0;
}

.buttonS {
    width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid orangered;
    color: orangered;
    transition: 1s;
}

.buttonS:hover {
    width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid orangered;
    background-color: orangered;
    color: black;
}

.buttonHome {
    width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    /* border: 3px solid black; */
    background-color: orangered;
    color: black;
}

.buttonAbout {
    width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    /* border: 3px solid black; */
    background-color: orangered;
    color: black;
}

.buttonProjects {
    width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    /* border: 3px solid black; */
    background-color: orangered;
    color: black;
}

.buttonContact {
    width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    /* border: 3px solid black; */
    background-color: orangered;
    color: black;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    width: 100%;
    height: 20%;
    padding: 2%;
    background-image: url(https://images.unsplash.com/photo-1599719036708-b6b659c9855f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80);
    background-size: cover;
    background-position: center;
    background-color: #C0C0C0;
    /* border-top: 5px solid orangered; */
    border: 5px solid orangered;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2%;
    color: orangered;
}

div {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
}

#one {
   height: 20%;
   width: 50%;
}

img {
    border: 10px solid orangered;
}

#two {
    height: 20%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 4rem;
    color: orangered;
    margin: 5% 0;
}

.buttonM {
    width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid orangered;
    color: orangered;
    transition: 1s;
    margin: 5% 0;
}

.buttonM:hover {
    width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid orangered;
    background-color: orangered;
    color: black;
}

p {
    color: orangered;
    margin: 5% 0;
}

#footer {
    width: 100%;
    height: 20%;
    padding: 2%;
    background-image: url(https://images.unsplash.com/photo-1599719036708-b6b659c9855f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80);
    background-size: cover;
    background-position: center;
    background-color: #C0C0C0;
    /* border-top: 5px solid orangered; */
    border: 5px solid orangered;
}